html,body,.full-width-fluid-container
{
    height:100%;
}

input, select {
  width: 100%;
}

label{
  width: 100%;
  margin-top: 10px;
  text-align: left;
  max-width: 600px;
}

body{
  display:table;
}

img {
  width: 100%;
  max-width: 600px;
}

.full-width-fluid-container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: table-row;
  text-align: center;
}

.row{
  height: 100%;
  background: #ECEBE4;
  display: table-cell;
  float: none;
  padding: 0 12px;
}
