$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

html,body,.full-width-fluid-container
{
    height:100%;
}

input, select {
  width: 100%;
}

label{
  margin-top: 10px;
}

.full-width-fluid-container {
  display:table;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.row{
  height: 100%;
  display: table-row;
}

#controls, #preview-stage
{
    display: table-cell;
    float: none;
}

#controls {
  background: rgb(253, 239, 187);
  vertical-align: middle;
  position: relative;
  left: -1px;
}

#preview-stage {
  vertical-align: middle;
  text-align: center;
}
